@charset "utf-8";

/* ----------------------------------

Name: main.scss
Author: Alissio
Website: https://butazzopizza.netlify.app/
Exclusively available here: https://themeforest.net/user/alissio

------------------------------------- */

/*-----------------------------------------------------------------------------------


Table of Contents

01. Global

    + Fonts

02. Header

    + Navigation

03. Carousel

04. Sections

    + About us
    + Menu
    + Photo Gallery
    + Chef
    + Reservation

05. Pagination

06. Fixed Layer

07. Footer

    + Yandex map

08. Mobile right menu

09. Fancybox

10. Loading overlay

11. Scroll up

12. Pages

    + Menu

13. Page Hero Section

14. Breadcrumb

-----------------------------------------------------------------------------------*/

/*---------------------------------------- 
==========================================

01.  Global

==========================================
/*----------------------------------------*/

* {
  outline: 0 !important;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat';
  font-weight: 400;
}

button {
  outline: 0 !important;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.form-control:focus {
  border: 0 1px 0 0;
  border-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pos_rel {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  padding-top: 120px;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-block {
  display: inline-block;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.fade-in {
  opacity: 0;
}

.wide-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.fade {
  -webkit-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.btn-border {
  border: 2px solid #379889;
  padding: 6px 66px;
  background-color: white;
  border-radius: 0;
  color: #379889;
  font-size: 28px;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  &:hover {
    background-color: #379889;
    color: white;
  }
}

.text-blue {
  color: #56b3a5;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.padd_lr0 {
  padding: 0;
}

.padd_r0 {
  padding-right: 0;
}

.padd_l0 {
  padding-left: 0;
}

.uppercase {
  text-transform: uppercase;
}

/*----------------------------------------

/*  Fonts

/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'ChunkFiveEx';
  src: url('../fonts/ChunkFiveEx/ChunkFiveEx.eot');
  src: url('../fonts/ChunkFiveEx/ChunkFiveEx.eot?#iefix') format("embedded-opentype"), url('../fonts/ChunkFiveEx/ChunkFiveEx.woff2') format("woff2"), url('../fonts/ChunkFiveEx/ChunkFiveEx.woff') format("woff"), url('../fonts/ChunkFiveEx/ChunkFiveEx.ttf') format("truetype"), url('../fonts/ChunkFiveEx/ChunkFiveEx.svg#ChunkFiveEx') format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*----------------------------------------
==========================================

02.  Header

==========================================
/*----------------------------------------*/

/*----------------------------------------

/*  Navigation

/*----------------------------------------*/

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  > li > a {
    font-weight: normal;
    font-family: 'Montserrat';
    font-weight: 700;
  }
}

#navbar_search input {
  font-family: 'Raleway';
  font-weight: 400;
}

.affix .navbar_top {
  display: none;
}

.navbar_top {
  overflow: hidden;
  height: 50px;
  position: relative;
}

.top-addr {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  span {
    margin-right: 15px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;

    + span {
      padding-left: 11px;
      border-left: 1px solid #ffd630;
    }
  }

  svg {
    color: #ffd630;
    margin-right: 7px;
    font-size: 14px;
  }
}

.navigation {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar {
  padding: 11px 0 0;
  border-radius: 0;
  min-height: 75px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
}

.navbar-collapse.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-container {
  &.affix {
    .navbar {
      border-bottom: none;
      min-height: 70px;
      padding: 0;
      margin-bottom: 10px;
    }

    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(153, 1, 0, 0.8);
    z-index: 999;
  }

  top: -60px;
  -webkit-transition: top .5s;
  -o-transition: top .5s;
  transition: top .5s;
}

.affix .navbar {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-brand {
  padding: 0;
}

.nav > li {
  position: relative;

  + li:after {
    content: "\f111";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #fff;
    font-size: 10px;
    font: normal normal normal 4px/1 FontAwesome;
  }

  > a {
    &:focus, &:hover {
      background-color: transparent;
      color: #ffd630;
    }
  }
}

.navbar-nav > li {
  > a {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 0;
    margin: 0 14px;
    position: relative;
    text-shadow: none;
  }

  &:last-child > a {
    margin-right: 0;
  }

  &.active {
    > a {
      color: #ffd630;
    }

    > a:after {
      left: 0;
      right: 0;
      width: auto;
      opacity: 1;
    }
  }

  > a:after {
    left: 0%;
    right: 100%;
    content: "";
    height: 1px;
    position: absolute;
    bottom: 0;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0;
    background: #ffd630;
  }

  > a:hover:after {
    left: 0;
    right: 0;
    width: auto;
    opacity: 1;
  }
}

.search-block {
  font-size: 16.1px;
  margin-left: 50px;
  color: white;

  #search {
    cursor: pointer;
    margin-right: 0;
  }
}

#navbar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

#navbar_search {
  display: none;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;

  input {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    font-size: 18px;
    height: 50px;
    padding-left: 0;
  }

  .close {
    position: absolute;
    right: 0;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    line-height: 14px;

    svg {
      margin-top: 7px;
      color: #ffd630;
    }
  }

  .form-control {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: #fff;
    }
  }
}

/*----------------------------------------
==========================================

03.  Carousel

==========================================
/*----------------------------------------*/

.carousel {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.carousel-indicators {
  bottom: 48px;
}

.carousel-control {
  z-index: 1;
  background: none;
  opacity: .9;
  width: auto;
}

.carousel-control-prev, .carousel-control-next {
  width: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer !important;
}

.carousel-inner .carousel-item {
  height: 100dvh;
  background-position: center;
  background-size: cover;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}

.carousel-caption {
  padding-top: 120px;
  padding-bottom: 0;
  margin: 0;
  bottom: auto;
  text-shadow: none;
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.carousel-caption__content {
  padding: 0 40px;
}

.carousel-caption h1 {
  color: #ffffff;
  font-size: 76px;
  border-left: 1px solid #56b3a5;
  border-right: 1px solid #56b3a5;
  display: inline-block;
  padding: 20px 80px;
  position: relative;
  margin-bottom: 50px;
}

.item_name {
  font-size: 50px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: right;
  color: #fff;

  &:after {
    content: "";
    width: 98px;
    height: 4px;
    background-color: #f6a525;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.item_img {
  position: relative;
  z-index: 1;
  width: fit-content;
  padding: 0 20px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.item_badge {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #f6a525;
  color: #5C0000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item_link_box {
  text-align: right;
}

.item_link {
  font-size: 15px;
  line-height: 21px;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #f6a525;
  border-radius: 30px;
  color: #fff !important;
  margin-top: 30px;

  &:hover {
    background-color: #f6a525;
    color: #fff !important;
    border-color: transparent;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
}

.badge_btext {
  display: block;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 26px;
  line-height: normal;
}

.badge_stext {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.item_details {
  text-align: left;
}

.carousel-caption {
  h1 {
    .border-top {
      &:before, &:after {
        content: '';
        position: absolute;
        width: 7%;
        height: 1px;
        background-color: #56b3a5;
      }
    }

    .border-bottom {
      &:before, &:after {
        content: '';
        position: absolute;
        width: 7%;
        height: 1px;
        background-color: #56b3a5;
      }
    }

    .border-top {
      &:before {
        top: 0px;
        left: 0px;
      }

      &:after {
        top: 0px;
        right: 0px;
      }
    }

    .border-bottom {
      &:after {
        bottom: 0px;
        right: 0px;
      }

      &:before {
        bottom: 0px;
        left: 0px;
      }
    }
  }

  p {
    color: #fff;
    font-size: 15px;
    text-align: right;
    padding-left: 80px;
  }

  .fadeUp, .fadeUpSlow {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}

.carousel-inner .carousel-item.active .carousel-caption .fadeUp {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.carousel-caption .fade-slow {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.carousel-indicators button {
  &[data-bs-target] {
    width: 11px;
    height: 11px;
    margin: 0 8px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    opacity: 1;
  }

  &.active[data-bs-target] {
    background-color: #fff;
  }
}

/*----------------------------------------
==========================================

04.  Sections

==========================================
/*----------------------------------------*/

#gallery .section-title {
  margin-bottom: 45px;
}

.form-control, .section-short, #menu_items .info .short {
  font-weight: normal;
  font-family: 'Montserrat';
  font-weight: 400;
}

#about_us .short {
  font-family: 'Montserrat';
  font-weight: 300;
}

.carousel-caption {
  p {
    font-family: 'Montserrat';
    font-weight: 300;
  }

  h1 {
    font-weight: normal;
    font-family: 'ChunkFiveEx';
  }
}

#about_us .title, .section-title, .btn-border, .control-label, .item_name {
  font-weight: normal;
  font-family: 'ChunkFiveEx';
}

.border_on:before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid #f6a525;
  content: '';
}

.section-title {
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  color: #990100;
  margin: 0 0 20px;
}

.title_sty1 {
  color: #fff;
}

.title_sty2 {
  color: #990100;
}

.section .title-block {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.section-short {
  color: #a5a5a5;
  font-size: 17px;
  line-height: 1.5;
}

/*-----------------------------------------

/*  About Us

/*----------------------------------------*/

.border_on {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#about_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .content {
    padding: 40px 50px 70px;
    max-width: 100%;
    background-color: #f6a525;
  }
}

.about_img {
  max-width: 100%;
}

#about_us {
  .row {
    position: relative;
  }

  .border:after {
    content: "";
    position: absolute;
    width: 95%;
    left: 0;
    border: 2px solid #56b3a5;
    height: calc(100% - 24px);
    top: 12px;
  }

  .img {
    z-index: 9;
  }

  .title {
    margin-bottom: 20px;
  }

  .short {
    color: #fff;
    font-size: 17px;
    text-align: center;
  }
}

/*-----------------------------------------

/*  Menu

/*----------------------------------------*/

.menu-page {
  background-image: url('http://placehold.co/1920x600');
}

.filtr-item {
  display: none;

  &.active {
    display: block;
  }
}

.menu_filter {
  margin-bottom: 80px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  &.nav > li {
    padding-left: 5px;
    padding-right: 5px;

    + li:after {
      content: none;
    }
  }

  .item {
    margin-top: 15px;

    a {
      font-size: 18px;
      line-height: 25px;

      &.active {
        font-size: 18px;
        line-height: 25px;
      }

      border: 1px solid #f6a525;
      color: #f6a525;
      padding: 2px 32px;
      border-radius: 30px;
      font-family: 'Montserrat';
      font-weight: 400;
      display: block;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;

      &:hover {
        text-decoration: none;
        background-color: #990100;
        color: #fff;
        border-color: #990100;
        -webkit-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
      }

      &:focus {
        background-color: transparent;
        border-color: #f6a525;
        color: #f6a525;
      }

      &.active {
        border-color: #990100;
        background-color: #990100;
        color: #fff;
      }
    }
  }
}

#menu_items {
  height: 100%;
}

.filter_item_img {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: #990100;
    -webkit-transition: opacity 0.45s;
    -o-transition: opacity 0.45s;
    transition: opacity 0.45s;
  }
}

#menu_items .block:hover .filter_item_img:after {
  opacity: .8;
}

.filter_item_img svg {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  font-size: 30px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale3d(0, 0, 1) translate(-50%, -50%);
  transform: scale3d(0, 0, 1) translate(-50%, -50%);
}

#menu_items .block:hover .filter_item_img svg {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate(-50%, -50%);
  transform: scale3d(1, 1, 1) translate(-50%, -50%);
}

.filter_item_img img {
  max-width: 100%;
  border-radius: 50%;
  width: 136px;
  min-width: 136px;
  height: 136px;
}

#menu_items {
  .left, .right {
    line-height: 0;
    overflow: hidden;
  }

  .image {
    margin-bottom: 35px;
  }

  .left .image:not(:first-child), .right .image:not(:last-child) {
    width: 50%;
  }

  .block {
    text-decoration: none;
  }

  .content {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    gap: 40px;
  }

  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    div {
      margin: 5px 0;
    }
  }

  .filter_item_price {
    font-size: 18px;
    color: #990100;
    font-family: 'Montserrat';
    font-weight: 700;
  }

  .info {
    .name {
      font-size: 23px;
      font-family: 'ChunkFiveEx';
      color: #f6a525;
      text-transform: uppercase;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: normal;
    }

    .short {
      color: #838383;
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 15px;
    }
  }

  .left .image:not(:first-child) .info .short, .right .image:not(:last-child) .info .short {
    font-size: 10px;
  }

  .block {
    * {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }

    &:hover {
      .content {
        -webkit-transform: scale(0.87);
        -ms-transform: scale(0.87);
        transform: scale(0.87);
      }

      .info {
        opacity: 1;
      }
    }
  }
}

/*-----------------------------------------

/*  Photo Gallery

/*----------------------------------------*/

#photo_gallery {
  height: 100%;
  margin-top: 60px;

  > div {
    margin: 0;

    > div {
      padding: 0;
    }
  }

  img {
    width: 100%;
  }

  .block {
    background-color: #d0d0d0;
    display: block;
    text-decoration: none;
  }

  .content {
    position: relative;
    overflow: hidden;
  }

  .zoom {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(170, 0, 1, 0.8);
    line-height: 1;
    text-transform: uppercase;
    opacity: 0;
  }
}

.zoom_icon svg {
  font-size: 48px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

#photo_gallery {
  .zoom {
    &:hover .zoom_icon svg {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    div {
      margin: 5px 0;
    }
  }

  .block {
    * {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }

    &:hover {
      .zoom {
        opacity: 1;
      }

      img {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }
}

#loadMore {
  display: none;
}

.load-dots {
  display: none;

  &.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px !important;
  }
}

.more_btn {
  display: inline-block;
  font-family: 'ChunkFiveEx';
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px;
  min-width: 225px;
  min-height: 45px;
  margin-top: 45px;
  background-color: #f6a525;
  color: #fff;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

  &:hover {
    color: #f6a525;
    background-color: #fff;
    border-color: inherit;
  }

  svg {
    margin-right: 10px;
  }
}

/*-----------------------------------------

/*  Chef

/*----------------------------------------*/

#chef-slider {
  padding-bottom: 56px;
  margin-bottom: 0;
  margin-top: 60px;

  .slick-dots {
    bottom: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    li {
      width: 16px;
      height: 16px;

      button:before {
        background-color: #f6a525;
        opacity: 1;
      }

      &.slick-active button:before {
        background-color: #990100;
      }
    }
  }
}

.chef-item {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990100), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, #990100 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, #990100 0, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  &:hover:after {
    opacity: 1;
  }
}

.chef-image {
  height: 483px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
}

.chef-item:hover .chef-image img {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.chef-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chef-name {
  font-size: 24px;
  color: #f6a525;
  text-transform: uppercase;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-family: "ChunkFiveEx";
  text-align: center;
  line-height: 32px;
  margin-bottom: 15px;
  margin-top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.chef-item:hover .chef-name {
  opacity: 1;
}

.chef-social {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.chef-item:hover .chef-social {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.chef-social-item {
  font-size: 22px;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;

  &:hover {
    color: #fff;
  }
}

/*-----------------------------------------

/*  Reservation

/*----------------------------------------*/

.reserv_box {
  background-color: #f6a525;
  padding: 30px 40px;

  .section-title {
    text-align: left;
    margin: 0;
    font-size: 30px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .short {
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300;
    text-align: left;
    margin-top: 10px;
    max-height: 42px;
    overflow: hidden;
  }
}

#reserv_form {
  .form-control {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-width: 0 0 1px;
    color: #fff;
    border-color: inherit;
    padding-left: 0;

    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: #fff;
    }
  }

  textarea.form-control {
    resize: vertical;
  }

  .form-group {
    margin: 15px 0;
  }

  margin-top: 30px;

  .btn[type="submit"] {
    background: none;
    width: 100%;
    font-size: 21px;
    font-family: 'ChunkFiveEx';
    text-transform: uppercase;
    padding: 6px 10px;
    margin-top: 40px;
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #f6a525;
      -webkit-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      transition: all .3s ease-out;
    }
  }

  .timepicker {
    a.btn, td span {
      color: #333;
      padding: 0;
    }
  }

  .table-condensed {
    th, td {
      padding: 0;
    }
  }

  .bootstrap-datetimepicker-widget {
    td {
      span {
        height: 20px;
        line-height: 25px;
        width: auto;
      }

      height: 20px;
      line-height: 25px;
    }

    th {
      height: 20px;
      line-height: 25px;
    }

    width: 180px;
    display: block;
  }
}

.datepicker {
  padding: 8px;

  td, th {
    width: 30px;
    height: 30px;
  }

  table tr td.active {
    background-image: none !important;
    background-color: #0C8027 !important;

    &:hover {
      background-image: none !important;
      background-color: #0C8027 !important;
    }
  }
}

/*-----------------------------------------
==========================================

05.  Pagination

==========================================
/*----------------------------------------*/

.pagination {
  margin-top: 20px;
  margin-bottom: 0;

  > {
    li {
      > {
        a, span {
          border: none;
          color: #31343f;
        }

        a {
          min-width: 30px;
          width: 30px;
          height: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          color: #f6a525;
          border: 1px solid #f6a525;
          padding: 4px 10px;
          margin-right: 7px;
          border-radius: 30px !important;
          -webkit-transition: .3s ease-out;
          -o-transition: .3s ease-out;
          transition: .3s ease-out;
          font-family: 'Montserrat';
          font-weight: 700;

          &:hover {
            background: #990100;
            color: #fff;
            border-color: #990100;
          }
        }
      }

      &.active > a {
        background: #990100;
        color: #fff;
        border-color: #990100;
      }
    }

    .active > a {
      background: #990100;
      color: #fff;
      border-color: #990100;

      &:hover {
        background: #990100;
        color: #fff;
        border-color: #990100;
      }
    }

    li > a:focus, .active > a:focus {
      background: #fff;
      color: #f6a525;
      border-color: #f6a525;
    }

    li {
      > a.prev:hover, &.active > a.prev {
        background: none;
        color: #31343f;
        opacity: .6;
      }
    }

    .active > a.prev {
      background: none;
      color: #31343f;
      opacity: .6;

      &:focus, &:hover {
        background: none;
        color: #31343f;
        opacity: .6;
      }
    }

    li {
      > a.next:hover, &.active > a.next {
        background: none;
        color: #31343f;
        opacity: .6;
      }
    }

    .active > a.next {
      background: none;
      color: #31343f;
      opacity: .6;

      &:focus, &:hover {
        background: none;
        color: #31343f;
        opacity: .6;
      }
    }
  }

  img {
    margin-top: -2px;
  }
}

/*-----------------------------------------
==========================================

06.  Fixed layer

==========================================
/*----------------------------------------*/

.fixed_layer {
  position: relative;
  background: url('http://placehold.co/1600x540') 50% 0 no-repeat fixed;
  background-size: cover;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.fixed_layer_padd {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;

  > .row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.fixed_layer_ttl {
  font-size: 59px;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 115px;
  text-transform: uppercase;

  strong {
    font-family: 'Montserrat';
    font-weight: 700;
  }
}

.fixed_layer_text {
  font-size: 23px;
  font-family: 'Montserrat';
  font-weight: 300;
  line-height: 42px;
}

/*---------------------------------------- 
==========================================

07.  Footer

==========================================
/*----------------------------------------*/

footer {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  background-color: #990100;
}

.footer_pos {
  position: absolute;
  bottom: 0;
  z-index: 9;
  width: 100%;
}

.social-links {
  .list-inline {
    margin: 0;
  }

  li {
    padding: 0;
    margin-left: 4px;
  }

  a {
    color: #fff;
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;

    &:hover {
      background-color: #fff;
      color: #990100;
    }
  }
}

.footer-text {
  color: #fff;
  font-size: 17px;
}

.footer-bottom {
  background-color: #990100;
  padding: 20px 0;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.footer_content {
  background-color: #f6a525;
  color: #fff;
  padding: 40px;
}

.week_day {
  background-color: #f6a525;
  position: relative;
  z-index: 1;
  padding-right: 10px;
}

.footer_ttl {
  text-transform: uppercase;
  font-family: 'ChunkFiveEx';
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.footer_border {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 20px;
}

.footer_txt {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.footer_col {
  padding-right: 20px;
  border-right: 1px solid red;
}

.week_time {
  background-color: #f6a525;
  padding-left: 10px;
  position: relative;
  z-index: 1;
  text-align: right;
}

.week_row {
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    border-top: 1px dotted #fff;
  }
}

.footer_cnt {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;

  svg {
    margin-top: 4px;
  }

  span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
  }
}

.copy_text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;

  span {
    margin: 0 6px;
  }
}

/*----------------------------------------

/*  Yandex map

/*----------------------------------------*/

#map {
  height: 500px;
}

/*---------------------------------------- 
==========================================

08.  Mobile right menu

==========================================
/*----------------------------------------*/

.rmenu_list li a {
  font-size: 15px;
  color: #fff;
  display: block;
  padding: 8px 15px;
  letter-spacing: 1px;

  &:hover {
    background-color: #990100;
  }
}

.cd-nav-container .header__open_menu {
  background: none;
  text-align: left;
  padding: 20px 15px;
}

#cd-nav {
  .rmenu_list {
    list-style: none;
    padding-left: 0;

    li a span {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      width: 41px;
      height: 41px;
      font-size: 24px;
      background-color: #69513d;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      z-index: 999;
      cursor: pointer;
    }
  }

  .open + .dropdown-menu {
    display: block;
  }
}

.open {
  background: #69513d;
  color: #fff !important;
}

#cd-nav .rmenu_list li {
  a {
    &.open span svg {
      -webkit-transition: -webkit-transform .2s;
      transition: -webkit-transform .2s;
      -o-transition: transform .2s;
      transition: transform .2s;
      transition: transform .2s, -webkit-transform .2s;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    span svg {
      -webkit-transition: -webkit-transform .2s;
      transition: -webkit-transform .2s;
      -o-transition: transform .2s;
      transition: transform .2s;
      transition: transform .2s, -webkit-transform .2s;
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
  }

  .dropdown-menu {
    position: relative;
    float: none;
    border-radius: 0;
    padding: 0;
    border: 0;
    top: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #bba02b;
  }
}

.cd-nav-trigger {
  z-index: 3;
  font-size: 21px;
  margin-left: 10px;
  height: 44px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  span {
    background-color: transparent;
    color: #fff;
  }
}

.cd-nav-container {
  padding-right: 0;
  width: 80%;
  background-color: #f6a525;
  z-index: 1000;
}

.rmenu_lang {
  margin-bottom: 30px;
  text-align: center;

  li {
    display: inline-block;

    a {
      color: #fff;
      letter-spacing: 3px;
      padding: 8px 4px;
      margin: 0 8px;
      font-size: 13px;
    }
  }
}

.rmenu_social {
  margin-top: 20px;
  text-align: center;

  a {
    display: inline-block;
    margin: 0 4px;
    font-size: 20px;
    color: #fff;
    padding: 10px;
  }
}

.right_menu_icon {
  right: 0;
  margin-left: 0;
}

.right_menu {
  right: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.cd-overlay {
  z-index: 999;
}

/*---------------------------------------- 
==========================================

09.  Fancybox

==========================================
/*----------------------------------------*/

.fancybox {
  cursor: pointer;
}

.fancybox-skin {
  background: none;
}

.fancybox-close {
  top: 14px;
  right: 15px;
}

.fancybox-prev span {
  left: -52px;
}

.fancybox-next span {
  right: -43px;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fancybox-nav span {
  visibility: visible;
}

/*---------------------------------------- 
==========================================

10.  Loading overlay

==========================================
/*----------------------------------------*/

.loading-overlay {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 100px;
  height: 40px;

  span {
    display: block;
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffb600;
    opacity: .5;
    -webkit-animation: move 1.2s ease-in-out infinite;
    animation: move 1.2s ease-in-out infinite;

    &:nth-of-type(2) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
      left: 20px;
    }

    &:nth-of-type(3) {
      left: 40px;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    &:nth-of-type(4) {
      left: 60px;
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    &:last-of-type {
      left: 80px;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
  }
}

@-webkit-keyframes move {
  0%,
    100% {
    opacity: .3;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes move {
  0%,
    100% {
    opacity: .3;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*---------------------------------------- 
==========================================

11.  Scroll up

==========================================
/*----------------------------------------*/

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 10;
  width: 45px;
  height: 45px;
  min-width: 45px;
  background-color: #c10100;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;

  &:hover {
    -webkit-box-shadow: rgba(153, 1, 0, 0.5);
    box-shadow: rgba(153, 1, 0, 0.5);
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.scroll-up__icon {
  color: #fff;
  font-size: 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*----------------------------------------
==========================================

12.  Pages

==========================================
/*----------------------------------------*/

/*-----------------------------------------

/*  Menu

/*----------------------------------------*/

.menu-section {
  padding-top: 100px;
  padding-bottom: 70px;

  .row > div {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.menu-item {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin-bottom: 16px;
}

.menu-img {
  overflow: hidden;
  border-radius: 6px 6px 0 0;

  img {
    overflow: hidden;
    border-radius: 6px 6px 0 0;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
}

.menu-ctg {
  overflow: hidden;
  border-radius: 8px;

  img {
    overflow: hidden;
    border-radius: 8px;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
}

.menu-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.menu-txt {
  overflow: hidden;
  padding: 25px 20px;
}

.menu-desc {
  font-size: 0.95rem;
  margin-bottom: 15px;
  font-family: 'Montserrat';
  font-weight: 300;
}

.menu-price {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #990100;
  color: #f6a525;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-family: 'Montserrat';
  font-weight: 700;
}

.add-to-cart {
  opacity: 0;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  padding: 12px 14px;
  border-radius: 4px;
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  background-color: #f6a525;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  a {
    color: #990100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
  }

  span:before {
    font-size: 0.85rem;
  }
}

.menu-item:hover .add-to-cart {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.menu-header, .menu-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 10px;
}

.menu-title {
  font-size: 1.375rem;
  font-family: 'Raleway';
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}

.stars-lg {
  font-size: 1rem;
}

.stars-rating {
  margin-bottom: .25rem;

  svg {
    color: #f6a525;
  }
}

.like-icon {
  svg {
    color: #aaa;
    -webkit-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }

  &:hover svg {
    color: #e03131;
  }
}

/*------------------------------------------*/

/*  Image Hover Overlay

/*------------------------------------------*/

.hover-overlay {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;

  img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    overflow: hidden;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
}

/*------------------------------------------*/

/*  Image Meta

/*------------------------------------------*/

.img-meta {
  width: 100%;
  padding: 20px 25px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  h5 {
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2rem;
  }
}

.menu-count {
  font-size: 1.4rem;
}

/*------------------------------------------*/

/*  Overlay Background 

/*------------------------------------------*/

.item-overlay {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/*------------------------------------------*/

/*  Image Hover Effect 

/*------------------------------------------*/

.menu-img:hover {
  img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .item-overlay {
    height: 100%;
  }
}

/*----------------------------------------
==========================================

13.  Page Hero Section

==========================================
/*----------------------------------------*/

.page-hero-section {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll !important;
  padding-top: 170px;
  padding-bottom: 120px;
  position: relative;

  h2 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  > div {
    z-index: 1;
    position: relative;
  }
}

.hero-title {
  font-family: 'ChunkFiveEx';
  color: #fff;
  text-transform: uppercase;
}

/*----------------------------------------
==========================================

14.  Breadcrumb

==========================================
/*----------------------------------------*/

.breadcrumb {
  margin-top: 14px;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

.breadcrumb-nav {
  display: inline-block;
  margin: 0 auto;
}

.breadcrumb-list {
  padding: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

/*------------------------------------------*/

/*  BREADCRUMB TYPOGRAPHY

/*------------------------------------------*/

.breadcrumb-item {
  a {
    color: #fff;
    font-size: 0.925rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Raleway';
    font-weight: 700;

    &:hover {
      color: #fff;
    }
  }

  &.active {
    color: #ffd630;
    font-size: 0.925rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  + .breadcrumb-item {
    &::before {
      font-size: 0.925rem;
      display: inline-block;
      padding-right: 10px;
      color: #fff;
      content: "/";
    }

    padding-left: 12px;
  }
}
